<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Runerne.Instantiation" version="1.0.0" targetFramework="net472" />
  <package id="Runerne.Reflection" version="1.0.0" targetFramework="net472" />
  <package id="Runerne.Utilities" version="1.0.0" targetFramework="net472" />
  <package id="Runerne.Xml" version="1.0.0" targetFramework="net472" />
</packages>